<footer>
	<p>By Edson Delatorre <a href="https://twitter.com/edsondelatorre?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-lang="pt" data-show-count="false">Follow @edsondelatorre</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> e Suwellen de Azevedo <a href="https://twitter.com/su_azevedo?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-lang="pt" data-show-count="false">Follow @su_azevedo</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> <a href="https://www.revolvermaps.com/livestats/5xhvd96xl6f/"><img src="//rf.revolvermaps.com/w/3/s/a/0/25/0/ffffff/010020/aa0000/5xhvd96xl6f.png" alt="Stats" style="border:0;"></a></p>
	
</footer>
